html,
body {
    font-family: 'MPLUS1Code-Regular';
}

@font-face {
    font-family: 'font_name';
    font-style: normal;
    font-weight: 400;
    src: url() format('woff');
}

.Tilt_Warp {
    font-family: 'Tilt Warp';
}

.Noto_Sans_JP {
    font-family: 'Noto Sans JP',
}

@font-face {
    font-family: "Hiragino-KakuGothic-W3";
    src: url("/assets/font/ヒラギノ角ゴシック\ W3.woff2") format('woff2'), url("/assets/font/ヒラギノ角ゴシック\ W3.woff") format('woff');
}

.Hiragino-KakuGothic-W3 {
    font-family: "Hiragino-KakuGothic-W3";
}

@font-face {
    font-family: "MPLUS1Code-Regular";
    src: url("/assets/font/MPLUS1Code-Regular.woff2") format('woff2'), url("/assets/font/MPLUS1Code-Regular.woff") format('woff');
}

.MPLUS1Code-Regular {
    font-family: "MPLUS1Code-Regular";
}